<div class="row pt-3 justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-header"><h5>ورود به سامانه</h5></div>
            <div class="card-body">
                <form class="form-check" role="form" method="post" action="/login" novalidate>

                    <%- include('./../layouts/error-messages') -%>

                    <div class="form-check">
                        <label for="email" class="form-label">آدرس ایمیل</label>
                        <input id="email" type="email" class="form-control" name="email" value="" required
                               autofocus="">
                        <br>
                    </div>

                    <div class="form-check">
                        <label for="password" class="form-label">رمز عبور</label>
                        <input id="password" type="password" class="form-control" name="password" value="" required>
                        <br>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="btn-check" id="btn-check-outlined" name="remember"
                               autocomplete="off">
                        <label class="btn btn-outline-primary" for="btn-check-outlined">یادآوری ورود</label><br>
                    </div>

                    <div class="form-check">
                        <%- recaptcha %><br>
                    </div>

                    <div class="form-check">
                        <button type="submit" class="btn btn-success">
                            ورود
                        </button>
                        <a class="btn btn-link" href="#">
                            رمز عبور خود را فراموش کردید؟
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>